div.form input, div.form textarea {
    border: 1px solid #ccc;
    line-height: 30px;
    border-radius: 3px;
    padding: 0 4px;
}
div.form.textarea textarea {
    min-width:100%;
    min-height:900px;
}
#mainmenu ul {
    padding:8px 20px 9px 20px;
}
.admin-product-image {
    max-width: 300px;
    border: 1px solid #ccc;
    float: left;
    margin: 0 15px 0 0;
}
.CodeMirror.cm-s-default {
    border:1px solid #ccc;
}